In [9]:
import pandas as pd
import numpy as np
import swifter
from tqdm.auto import tqdm

from wordLists import guesses, answers
from utils import check, getSplits, filterPossible
from valuations import *

tqdm.pandas()

In [3]:
G = sorted(guesses + answers)
S = sorted(answers)
g = 'other'

In [5]:
df = pd.DataFrame()
df['candidate'] = S

In [10]:
%%time
df['score'] = df[['candidate']].progress_apply(lambda x: maxSizeSplit(x[0], G), axis = 1)

  0%|          | 0/2309 [00:00<?, ?it/s]

CPU times: user 1min 17s, sys: 46.9 ms, total: 1min 17s
Wall time: 1min 17s

In [17]:
%%time
# max(getSplits('other', S).values())
# filterPossible(g, '00000',S)
sorted([(maxSizeSplit(g, S), g) for g in tqdm(G)])[0]

  0%|          | 0/12947 [00:00<?, ?it/s]

CPU times: user 2min 50s, sys: 3.3 s, total: 2min 53s
Wall time: 3min 2s

(-1424, 'immix')

In [2]:
from vectorise import check_numpy, check_numba, test_check_normal, test_check_numpy, test_check_numba
from utils import check

In [14]:
df.sort_values(by=['score','candidate'])

     candidate  score
1639     saner    836
1814     snare    836
1903     stare    855
1773     slate    863
1897     stale    863
...        ...    ...
772      fluff   7392
1272     mummy   7555
1492     puppy   7557
392      civic   7583
828      fuzzy   7860

[2309 rows x 2 columns]